@import "../styles/common.scss";

.svg-wrapper {
  cursor: pointer;
  width: 2.4rem;
  height: 2.4rem;

  .svg-icon {
    width: 100%;
    height: 100%;

    &:hover path {
      fill: var(--color-primary);
    }
  }
}

.about-overlay {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 800px;
}

.about-overlay img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Image will cover the entire container */
}

.about-content {
  position: absolute;
  @include grid-template-areas-common(5, 
    'a a a b b'
    'c c c b b'
    'd d d b b'
  );
  max-width: 1340px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

.about-overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(#e6f4f1, 0.8); /* Greenish about-overlay */
  z-index: 1; /* Ensure the about-overlay stays behind the content */
}

.about-header {
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 1.5rem;
}

.about-name {
  font-size: 5rem;
  font-weight: 800;
  margin-bottom: 0.4rem;
}

.about-title {
  grid-area: a;
}

.about-description {
  grid-area: c;
  line-height: 3rem;
  font-size: 1.5rem;
}

.about-photo {
  grid-area: b;
  align-self: center;

  .image {
    width: 78%;
    height: 78%;
  }
}

.about-links {
  grid-area: d;
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.tooltip-wrapper {
  position: relative;
  display: inline-block;

  &:hover .email-tooltip {
    visibility: visible;
  }
}

.email-tooltip {
  visibility: hidden;
  position: absolute;
  top: 140%;
  left: 0%;
  background-color: var(--color-primary);
  color: white;
  padding: 5px;
  border-radius: 5px;
  white-space: nowrap;

  &:before {
    content: '';
    position: absolute;
    top: -40%; /* Position the triangle at the top of the tooltip */
    left: 5%;
    border-width: 10px; /* Adjust the size of the triangle */
    border-style: solid;
    border-color:  transparent transparent var(--color-primary) transparent;
  }
}

@media screen and (max-width: 1200px) {
  .about-content {
    width: 80%;
  }
  .about-photo {
    .image {
      width: 82%;
      height: 82%;
    }
  }

  .about-header {
    font-size: 1.3rem;
  }
  
  .about-name {
    font-size: 4rem;
  }

  .about-description {
    font-size: 1.3rem;
    line-height: 2.2rem;
  }
}

@media screen and (max-width: 992px) {
  .about-content {
    @include grid-template-areas-common(1, 
      'b'  
      'a'
      'c'
      'd'
    );
  }

  .about-photo {
    .image {
      width: 40%;
      height: 40%;
    }
  }

  .about-header {
    font-size: 1.2rem;
  }
  
  .about-name {
    font-size: 3.8rem;
  }

  .about-description {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
}

@media screen and (max-width: 768px) {
  .about-photo {
    .image {
      width: 50%;
      height: 50%;
    }
  }

  .about-header {
    font-size: 1.1rem;
  }
  
  .about-name {
    font-size: 3.5rem;
  }

  .about-description {
    font-size: 1rem;
    line-height: 1.8rem;
  }

  .svg-wrapper {
    width: 2rem;
    height: 2rem;
  }
}

@media screen and (max-width: 576px) {
  .about-photo {
    .image {
      width: 60%;
      height: 60%;
    }
  }

  .about-header {
    font-size: 1.2rem;
  }
  
  .about-name {
    font-size: 3.6rem;
  }

  .about-description {
    font-size: 1rem;
  }
}

@media screen and (max-width: 467px) {
  .about-photo {
    .image {
      width: 70%;
      height: 70%;
    }
  }

  .about-header {
    font-size: 1rem;
  }
  
  .about-name {
    font-size: 2.8rem;
  }

  .about-description {
    font-size: 1rem;
    line-height: 1.6rem;
  }

  .svg-wrapper {
    width: 1.5rem;
    height: 1.5rem;
  }
}

