@import "../styles/common.scss";

.about-overlay {
  position: relative;
  width: 100%;
  height: 100vh; /* vh - viewport height */
}

.about-overlay img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Image will cover the entire container */
}

.about-content {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  @include grid-template-areas-common(7, 
    '. . . . . . .'
    '. a a a b b .'
    '. c c c b b .'
    '. . . . . . .'
  );
  z-index: 2;
}

.about-overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(#e6f4f1, 0.8); /* Greenish about-overlay */
  z-index: 1; /* Ensure the about-overlay stays behind the content */
}

.about-header {
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 2rem;
}

.about-name {
  font-size: 6rem;
  font-weight: 800;
  margin-bottom: 0.4rem;
}

.about-title {
  grid-area: a;
  align-self: end;
}

.about-description {
  grid-area: c;
  line-height: 2.8rem;
  font-size: 2rem;
}

.about-photo {
  grid-area: b;
  align-self: center;
  justify-self: center;

  .image {
    width: 100%;
    height: 100%;
  }
}

.about-links {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.tooltip-wrapper {
  position: relative;
  display: inline-block;

  &:hover .email-tooltip {
    visibility: visible;
  }
}

.email-tooltip {
  visibility: hidden;
  position: absolute;
  top: 140%;
  left: 0%;
  background-color: var(--color-primary);
  color: white;
  padding: 5px;
  border-radius: 5px;
  white-space: nowrap;

  &:before {
    content: '';
    position: absolute;
    top: -40%; /* Position the triangle at the top of the tooltip */
    left: 5%;
    border-width: 10px; /* Adjust the size of the triangle */
    border-style: solid;
    border-color:  transparent transparent var(--color-primary) transparent;
  }
}

@media screen and (max-width: 1990px) {
  .about-content {
    @include grid-template-areas-common(6, 
      '. . . . . .'
      '. a a b b .'
      '. c c b b .'
      '. . . . . .'
    );
  }
  
  .about-header {
    font-size: 1.4rem;
  }
  
  .about-name {
    font-size: 4.6rem;
  }

  .about-description {
    font-size: 1.4rem;
    line-height: 2.4rem;
  }
}

@media screen and (max-width: 1440px) {
  .about-content {

  }

  .about-header {
    font-size: 1.2rem;
  }
  
  .about-name {
    font-size: 3.8rem;
  }

  .about-description {
    font-size: 1.2rem;
    line-height: 2rem;
  }
}

@media screen and (max-width: 1052px) {
  .about-content {
    @include grid-template-areas-common(8, 
      '. . . . . . . .'
      '. a a a b b b .'
      '. c c c b b b .'
      '. . . . . . . .'
    );
  }

  .about-header {
    font-size: 1rem;
  }
  
  .about-name {
    font-size: 3.2rem;
  }

  .about-description {
    font-size: 1rem;
    line-height: 1.4rem;
  }
}

@media screen and (max-width: 883px) {
  .about-content {
    @include grid-template-areas-common(10, 
      '. . . . . . . . . .'
      '. a a a a b b b b .'
      '. c c c c b b b b .'
      '. . . . . . . . . .'
    );
  }

  .about-header {
    font-size: 0.8rem;
  }
  
  .about-name {
    font-size: 2.6rem;
  }

  .about-description {
    font-size: 0.8rem;
    line-height: 1.4rem;
  }
}

@media screen and (max-width: 668px) {
  .about-content {
    @include grid-template-areas-common(4, 
      '. . . .'
      'a a b b'
      'c c c c'
      '. . . .'
    );
    padding: 2rem;
  }

  .about-header {
    font-size: 0.8rem;
  }
  
  .about-name {
    font-size: 2.6rem;
  }

  .about-photo {
    align-self: end;
  }

  .about-description {
    font-size: 0.8rem;
    line-height: 1.4rem;
  }

  .svg-wrapper {
    cursor: pointer;
    width: 1.6rem;
    height: 1.6rem;
  }
}